<launch>
    <node pkg="dconfig"
          name="config_watchdog_node"
          type="config_watchdog.py"
          output="screen"
          respawn="false"
          args=""
          cwd="node"/>
    <rosparam command="load" file="$(find dconfig)/dvision/misc.yml"/>
    <rosparam command="load" file="$(find dconfig)/dvision/camera.yml"/>
    <rosparam command="load" file="$(find dconfig)/dvision/localization.yml"/>
    <rosparam command="load" file="$(find dconfig)/dmotion/motion.yml"/>
    <rosparam command="load" file="$(find dconfig)/dmotion/motor.yml"/>
    <rosparam command="load" file="$(find dconfig)/dmotion/pvhipY.yml"/>
    <rosparam command="load" file="$(find dconfig)/dmotion/kick.yml"/>
    <rosparam command="load" file="$(find dconfig)/dmotion/setup.yml"/>

    <rosparam command="load" file="$(find dconfig)/zjudancer.yml"/>

  	<rosparam command="load" file="$(find dconfig)/dbehaviour/constant.yml"/>
  	<rosparam command="load" file="$(find dconfig)/dbehaviour/robot_config.yml"/>
  	<rosparam command="load" file="$(find dconfig)/dbehaviour/behaviour.yml"/>

    <param name="/ZJUDancer/RobotId" value="$(env ZJUDANCER_ROBOTID)"/>
    <param name="/dvision/ball_detector/home_folder" value="$(env HOME)"/>
</launch>
