<launch>
  <node
    pkg="dbehavior"
    name="dbehavior_node"
    type="main.py"
    output="screen"
    respawn="false"
    cwd="node"
    args=""
    />
  <rosparam command="load" file="$(find dconfig)/dvision/misc.yml"/>
  <rosparam command="load" file="$(find dconfig)/dbehaviour/constant.yml"/>
  <rosparam command="load" file="$(find dconfig)/dbehaviour/robot_config.yml"/>
  <rosparam command="load" file="$(find dconfig)/dbehaviour/behaviour.yml"/>
</launch>
