<launch>
    <node pkg="dmotion"
          name="dmotion_node"
          type="dmotion_node"
          output="screen"
          respawn="false"
          required="true"
          cwd="node"
          args=""/>

    <!-- <node pkg="dconfig"
          name="config_watchdog_node"
          type="config_watchdog.py"
          output="screen"
          respawn="false"
          args=""
          cwd="node"/> -->

    <!-- <rosparam command="load" file="$(find dconfig)/dmotion/motion.yml"/>
    <rosparam command="load" file="$(find dconfig)/dmotion/motor.yml"/>
    <rosparam command="load" file="$(find dconfig)/dmotion/pvhipY.yml"/>
    <rosparam command="load" file="$(find dconfig)/dmotion/kick.yml"/>
    <rosparam command="load" file="$(find dconfig)/dmotion/setup.yml"/> -->
</launch>
